{{template "partials/top" . }}
  <div class="login-container">
    <h1>Login</h1>
    <form method="POST" action="/login">
      <label for="email"></label>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Email"
      />
      <label for="password"></label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
      <button type="submit">Login</button>
    </form>
  </div>
  <a href="/">Back</a>
{{template "partials/bottom" . }}