{{template "partials/top" . }}
<div class="signup-container">
  <form class="signup-form" method="POST" action="/user/signup">
    <h1>Sign up</h1>
    <input
      type="text"
      name="email"
      placeholder="Email"
    />
    <input
      type="text"
      name="first_name"
      placeholder="First Name"
    />
    <input
      type="text"
      name="last_name"
      placeholder="Last Name"
    />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
    />
    <button type="submit">Sign up</button>
  </form>
</div>
<a href="/">Back</a>
{{template "partials/bottom" . }}
